body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-header-background {
  background-color: #325437 !important;
}

.header-menu-right {
  /* float: right; */
  /* width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0; */
  /* background: rgba(255, 255, 255, 0.2); */
}

.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.edit-tag {
  user-select: none;
  margin-bottom: 8px !important;
}
.tag-input {
  width: 78px !important;
  margin-right: 8px;
  vertical-align: top;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding:5px !important
}

.ant-collapse>.ant-collapse-item {
  border-bottom: none;
}

.topic-card {

}

.topic-card>.ant-card-head>.ant-card-head-wrapper>.ant-card-head-title {
  padding: 10px 0px;
}

.topicIconCover .ant-upload.ant-upload-select-picture-card {
  width: 200px !important;
  height: 200px !important
}

.topicIconCover .ant-upload.ant-upload-select-picture-card img{
  height:inherit
}

.topicIconCover .ant-upload-picture-card-wrapper{
  width: unset;
}

.topicIconCover .ant-btn {
  border: none;
}