body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-menu-right {
  float: right;
  /* width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0; */
  /* background: rgba(255, 255, 255, 0.2); */
}

/* Custom antd style */

/* popover */
.ant-popover-inner-content {
  padding: 0 !important
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.uploadCrop {
  overflow: hidden;
}

.detailed-forum-latest-thread {
  /* padding-left: 0.5rem; */
  height: 16px;
  position: relative;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 30px;
}

.detailed-forum-latest-thread a {
  font-size: 10px;
  font-style: oblique;
  color: #3494da;
}

.threadCover .ant-upload.ant-upload-select-picture-card {
  width: 200px !important;
  height: 150px !important
}

.threadCover .ant-upload.ant-upload-select-picture-card img{
  height:inherit
}

.threadCover .ant-upload-picture-card-wrapper{
  width: unset;
}

.threadCover .ant-btn {
  border: none;
}

.editorTitle {
  font-size: 16px;
  font-weight: bold;
}

.post-quill-editor-index .ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-quill-editor-index .ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.comment-list .ant-list-lg .ant-list-item {
  padding: 10px 0px 0px 0px !important;
  border: unset !important;
}

.comment-list .comment-item-button-area {
  padding-left: 30px;
  height: 30px;
  min-height: 30px;
  font-size: 12px;
}

.comment-list .comment-single-box {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #e0e0e0;
}

.comment-list .ant-list-split .ant-list-item:last-child .comment-item-button-area {
  border-bottom: unset !important;
}

.ant-layout {
  background: #f7f7f7 !important;
}

.box-shadow-panel {
  box-shadow: 0 0 3px rgb(0 0 0 / 10%);
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
}

.cj-layout-header {
  background-color: #fff !important;
  height: 50px !important;
  line-height: 50px !important;
  position: fixed !important;
  z-index: 1 !important;
  width: 100% !important;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.cj-layout-header .logo {
  float: left;
  height: 50px;
}

.cj-layout-header .logo .logo-icon {
  height: 25px;
  position: relative;
  top:-5px;
  margin: 0px 5px;
}

.cj-layout-header .logo .logo-title {
  font-size: 25px;
  line-height: 50px;
  color: #364d79
}

.cj-layout-header .header-menu {
  margin-left: 130px;
  border-bottom: none;
}

.cj-layout-header .header-menu  > .ant-menu-item-selected a {
  color: #000 !important;
  font-weight: bold !important;
}

.cj-layout-header .header-menu .ant-menu-item {
  padding: 0px 10px !important;
}

.cj-layout-header .header-menu .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border: unset !important;
}
.button-color-dust {
  background-color: turquoise;
  
}

/* comment */

.box-panel-header {
  font-size: 15px;
  color: #777;
  font-weight: 700;
  box-sizing: border-box;
  border-bottom: 1px solid #f4f4f4;
  padding:5px 10px;
}

.side-thread-title-link {
  float: right;
  width: calc(100% - 25px);
  max-height: 48px;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
}

.side-thread-title-link:hover{
  text-decoration: underline;
  color:#08979c;
}

.side-thread-title-hot {
  display: inline-block;
  float: left;
  width: 3px;
  height: 3px;
  padding: 1px 5px 5px 0;
}



.item___2D6oK {
  padding-bottom: 12px;
  overflow: hidden;
}




/* thread */

.thread-operation-button {
  cursor: pointer;
  color: #666;
}

.thread-operation-button:hover, .thread-operation-button:focus {
  color: #08979c !important;
  /* font-weight: bold; */
}


.comment-sort-box-panel{
  display: flex;
  float: right;
  box-sizing: border-box;
  width: 100px;
  height: 24px;
  color: #999;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  /* border-radius: 12px; */
}

.comment-sort-box-panel > span{
  flex:auto
}

.comment-sort-box-option{
  height: 22px;
  padding: 0 10px;
  line-height: 22px;
  text-align: center;
  /* border-radius: 12px; */
  cursor: pointer;
  user-select:none;
}

.comment-sort-box-option-active {
  position: relative;
  color: #333;
  background-color: #fff;
  box-shadow: 0 2.5px 5px 0 rgb(0 0 0 / 3%);
}

.comment-sort-box-option-right {
  position: relative;
}

.comment-sort-box-option-right:after, .comment-sort-box-option-right:before {
  position: absolute;
  top: 50%;
  right: 5px;
  display: inline-block;
  width: 6px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #b2b2b2;
  border-left: 3px solid transparent;
  transform: translateY(-150%);
  content: "";
}

.comment-sort-box-option-right:after {
  transform: rotate(180deg);
}

.comment-sort-box-option-right-top:before {
  border-bottom: 3px solid #333;
}

.comment-sort-box-option-right-bottom:after {
  border-bottom: 3px solid #333;
}

.comment-single-box {

}

.comment-single-box-action-display-hide {
  display: none;
}

.comment-single-box:hover  .comment-single-box-action-display-hide {
  display: inline-block;
}

.comment-single-box-avatar-column {
  padding: 10px 0;
}

.comment-single-box-content-column {
  display: flex;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}