body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  float: left;
  width: 87px;
  /* height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2); */
}

.header-menu-right {
  float: right;
  /* width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0; */
  /* background: rgba(255, 255, 255, 0.2); */
}

/* Custom antd style */

/* popover */
.ant-popover-inner-content {
  padding: 0 !important
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.uploadCrop {
  overflow: hidden;
}

.detailed-forum-latest-thread {
  /* padding-left: 0.5rem; */
  height: 16px;
  position: relative;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 30px;
}

.detailed-forum-latest-thread a {
  font-size: 10px;
  font-style: oblique;
  color: #3494da;
}

.threadCover .ant-upload.ant-upload-select-picture-card {
  width: 200px !important;
  height: 150px !important
}

.threadCover .ant-upload.ant-upload-select-picture-card img{
  height:inherit
}

.threadCover .ant-upload-picture-card-wrapper{
  width: unset;
}

.threadCover .ant-btn {
  border: none;
}

.editorTitle {
  font-size: 16px;
  font-weight: bold;
}

.post-quill-editor-index .ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-quill-editor-index .ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.comment-list .ant-list-lg .ant-list-item {
  padding: 10px 0px 0px 0px !important;
  border: unset !important;
}

.comment-list .comment-item-button-area {
  margin-left: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #e0e0e0;
}

.comment-list .ant-list-split .ant-list-item:last-child .comment-item-button-area {
  border-bottom: unset !important;
}

.button-color-dust {
  background-color: turquoise;
  
}