body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  float: left;
  width: 87px;
  /* height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2); */
}

.header-menu-right {
  float: right;
  /* width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0; */
  /* background: rgba(255, 255, 255, 0.2); */
}

/* Custom antd style */

/* popover */
.ant-popover-inner-content {
  padding: 0 !important
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.uploadCrop {
  overflow: hidden;
}

.detailed-forum-latest-thread {
  /* padding-left: 0.5rem; */
  height: 16px;
  position: relative;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 30px;
}

.detailed-forum-latest-thread a {
  font-size: 10px;
  font-style: oblique;
  color: #3494da;
}